.landingContainer {
  width: 100vw;
  height: 100vh;
  padding: none;
  margin: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 992px) {
  .landingContainer {
    flex-direction: column;
  }
}
