.portfolioBodyContainer {
  height: 80vh;
  background-color: #c2b19c;
  position: relative;

  .slider {
    position: relative;
    height: 80%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;

    .slide {
      width: auto;
      height: 100%;
      opacity: 0;
      transition-duration: 0.5s ease;
    }

    .active {
      opacity: 1;
      transition-duration: 0.5s;
      transform: scale(1.08);
    }

    .img {
      width: auto;
      height: 90%;
    }
  }
  .right-arrow {
    position: absolute;
    top: 35%;
    right: 32px;
    font-size: 3rem;
    color: #fff;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    z-index: 11;
  }

  .left-arrow {
    position: absolute;
    top: 35%;
    left: 32px;
    font-size: 3rem;
    color: #fff;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    z-index: 11;
  }
}
