.LandingLinksContainer {
  background-color: #c2b19c;
  height: 100vh;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .btnContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #94857b;
    height: 325px;
    width: 475px;
    border-radius: 40px;
    position: relative;
  }

  .backgroundContainer {
    position: absolute;
    top: -20px;
    left: -20px;
    height: 200px;
    width: 350px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='40' ry='40' stroke='%23333' stroke-width='5' stroke-dasharray='1%2c 15' stroke-dashoffset='26' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 40px;
    transform: rotate(180deg);
    z-index: 0.9;
  }

  .btn {
    font-family: "Alta";
    font-size: 2em;
    background: none;
    border: none;
    letter-spacing: 8px;
  }
}
