.navbarContainer {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logoAndToggle,
.compactNavContainer,
.hidden {
  display: none;
}

.navContainer {
  padding-right: 15px;
}

.navContainer button {
  color: #fff;
  text-align: center;
  background: none;
  border: none;
  font-family: "Alta";
  font-size: 1.1em;
  letter-spacing: 1px;
  margin: 0 5px;
}

.navContainer button:hover {
  cursor: pointer;
}

.navContainer .active:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 100%;
  padding-top: 5px;
  border-bottom: 1px solid white;
}

@media (max-width: 768px) {
  .navbarContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logoAndToggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    padding-top: 30px;
    -webkit-transition: background-color 0.4s;
    transition: background-color 0.4s;
  }
  .whiteout {
    -webkit-transition: background-color 0.4s;
    transition: background-color 0.4s;
    background-color: #fff;
  }
  .toggle {
    margin-right: 15px;
    font-size: 2rem;
    -webkit-transition: ease-in-out;
    transition: ease-in-out;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: #fff;
  }
  .toggle:hover {
    cursor: pointer;
  }
  .animate {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: #000;
  }
  .navContainer {
    display: none;
  }
  .magClark {
    font-family: "Dream Avenue";
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1.1em;
    padding: 0;
    margin: 0;
    letter-spacing: 4px;
    color: #fff;
    padding-left: 15px;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
  }
  .photography {
    font-family: "Lexend Tera", sans-serif;
    text-transform: uppercase;
    font-size: 0.6em;
    font-weight: 100;
    padding: 0;
    margin: 0;
    letter-spacing: 2px;
    color: #fff;
    padding-left: 15px;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
  }
  .blackText {
    color: #000;
  }
  .hidden {
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    -webkit-transition: opacity;
    -webkit-transition: 0.5s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 20px;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    z-index: 2;
  }
  .hidden button {
    color: #000;
    text-align: center;
    background: none;
    border: none;
    font-family: "Alta";
    font-size: 2em;
    letter-spacing: 1px;
    margin: 20px 0;
    width: auto;
    display: none;
  }
  .compactNavContainer {
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    -webkit-transition: opacity;
    -webkit-transition: 0.5s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 20px;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    z-index: 2;
  }
  .compactNavContainer button {
    color: #000;
    text-align: center;
    background: none;
    border: none;
    font-family: "Alta";
    font-size: 2em;
    letter-spacing: 1px;
    margin: 20px 0;
    width: auto;
  }
  .compactNavContainer .active span {
    border-bottom: 1px solid #000;
    padding-bottom: 1px;
  }
}
/*# sourceMappingURL=Navbar.css.map */