.navbarContainer {
  width: auto;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logoAndToggle,
.compactNavContainer,
.hidden {
  display: none;
}

.navContainer {
  padding-right: 15px;

  button {
    color: #fff;
    text-align: center;
    background: none;
    border: none;
    font-family: "Alta";
    font-size: 1.1em;
    letter-spacing: 1px;
    margin: 0 5px;
  }

  .active:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 100%;
    padding-top: 5px;
    border-bottom: 1px solid white;
  }
}

@media (max-width: 768px) {
  .navbarContainer {
    flex-direction: column;
  }

  .logoAndToggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding-top: 30px;
    transition: background-color 0.4s;
  }

  .whiteout {
    transition: background-color 0.4s;
    background-color: #fff;
  }

  .toggle {
    margin-right: 15px;
    font-size: 2rem;
    transition: ease-in-out;
    transform: rotate(0deg);
    transition: 0.5s;
    color: #fff;
    &:hover {
      cursor: pointer;
    }
  }

  .animate {
    transform: rotate(180deg);
    transition: 0.5s;
    color: #000;
  }

  .navContainer {
    display: none;
  }

  .magClark {
    font-family: "Dream Avenue";
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1.1em;
    padding: 0;
    margin: 0;
    letter-spacing: 4px;
    color: #fff;
    padding-left: 15px;
    transition: color 0.5s;
  }

  .photography {
    font-family: "Lexend Tera", sans-serif;
    text-transform: uppercase;
    font-size: 0.6em;
    font-weight: 100;
    padding: 0;
    margin: 0;
    letter-spacing: 2px;
    color: #fff;
    padding-left: 15px;
    transition: color 0.5s;
  }

  .blackText {
    color: #000;
  }

  .hidden {
    opacity: 0;
    transition: opacity 0.5s;
    -webkit-transition: opacity;
    -webkit-transition: 0.5s;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    button {
      color: #fff;
      text-align: center;
      background: none;
      border: none;
      font-family: "Alta";
      font-size: 2em;
      letter-spacing: 1px;
      margin: 20px 0;
      width: auto;
    }

    .active span {
      border-bottom: 1px solid #000;
      padding-bottom: 1px;
    }
  }

  .compactNavContainer {
    opacity: 1;
    transition: opacity 0.5s;
    -webkit-transition: opacity;
    -webkit-transition: 0.5s;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    padding-bottom: 180px;
    z-index: 2;

    button {
      color: #fff;
      text-align: center;
      background: none;
      border: none;
      font-family: "Alta";
      font-size: 2em;
      letter-spacing: 1px;
      margin: 20px 0;
      width: auto;
    }

    .active span {
      border-bottom: 1px solid #000;
      padding-bottom: 1px;
    }
  }
}
