/* contact body styles */

.adjustOpacity {
  opacity: 0.1;
}
.contactContainer {
  display: flex;
  justify-content: center;
  background-color: #c2b19c;
  height: 80vh;
  width: 100vw;
  position: relative;

  .submissionContainer {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    height: auto;
    width: auto;
    padding: 15px;
    background-color: white;
    z-index: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    background-color: #94857b;

    .checkmark {
      height: 35px;
      width: 35px;
    }

    .submitted {
      font-family: "Alta";
      font-size: 1.2em;
      letter-spacing: 2px;
    }

    .submittedButton {
      background: none;
      border: none;
      margin-top: 15px;
      font-size: 1.2em;
      font-family: "Alta";
      letter-spacing: 2px;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .logoContainer {
    background-color: #c2b19c;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-70px, -45px);

    .camera {
      animation: rotation 1s infinite linear;

      transform: rotate(360deg);
      height: 200px;
      width: 200px;
      position: absolute;
      top: -55px;
      left: -45px;
    }

    .text {
      position: absolute;
      top: 33px;
      left: 50px;
      width: auto;
      z-index: 2;
    }

    .magClark {
      font-family: "Dream Avenue";
      text-transform: uppercase;
      font-weight: 200;
      font-size: 1.1em;
      padding: 0;
      margin: 0;
      letter-spacing: 4px;
    }

    .photography {
      font-family: "Lexend Tera", sans-serif;
      text-transform: uppercase;
      font-size: 0.6em;
      font-weight: 100;
      padding: 0;
      margin: 0;
      letter-spacing: 2px;
    }
  }

  .portrait {
    position: absolute;
    border-radius: 50%;
    height: 225px;
    width: 225px;
    transform: translateY(-130px) translateX(-130px);
  }

  .contactTextContainer {
    margin-top: 50px;
    height: 450px;
    width: 600px;
    background-color: #94857b;
    padding: 25px 65px;
    border-radius: 40px;

    .input {
      text-align: center;
      display: block;
      width: 100%;
      margin-bottom: 15px;
      height: 30px;
      font-family: "Alta";
      color: #000;
      font-size: 1.2em;
      letter-spacing: 2px;
      background-color: #94857b;
      border: none;
      border-radius: 5px;
      padding: 5px;
      &::placeholder {
        color: #000;
      }
      &:focus {
        outline: none;
      }
    }

    .messageTextBox {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: auto;
      text-align: center;
      background-color: #94857b;
      height: 100px;
      border: none;
      font-family: "Alta";
      font-size: 1.2em;
      letter-spacing: 2px;
      resize: none;
      &::placeholder {
        color: #000;
      }
      &:focus {
        outline: none;
      }
    }

    .submit {
      display: block;
      margin: 0 auto 0 auto;
      font-family: "Alta";
      font-size: 1.2em;
      letter-spacing: 2px;
      background-color: #94857b;
      border: none;
      transition: ease-in-out 0.3s;
      background: none;
      color: #000;
      &:hover {
        cursor: pointer;
        transform: scale(1.05);
      }
    }
  }
}

@media (max-width: 992px) and (min-width: 676px) {
  .contactContainer {
    .contactTextContainer {
      height: 375px;
      width: 525px;
      padding-bottom: 45px;
    }
  }
}

@media (max-width: 992px) and (min-width: 730px) {
  .contactContainer {
    .contactTextContainer {
      .portrait {
        height: 175px;
        width: 175px;
        transform: translateY(-85px) translateX(-100px);
      }
    }
  }
}

@media (max-width: 730px) and (min-width: 676px) {
  .contactContainer {
    .portrait {
      height: 150px;
      width: 150px;
      transform: translateY(-65px) translateX(-75px);
    }
  }
}

@media (max-width: 676px) and (min-width: 500px) {
  .contactContainer {
    .contactTextContainer {
      height: 425px;
      width: 450px;
      padding: 25px 10px 0px 10px;

      .input {
        letter-spacing: 1px;
      }

      .portrait {
        height: 150px;
        width: 150px;
        transform: translateY(-90px) translateX(-15px);
      }
    }
  }
}

@media (max-width: 500px) {
  .contactContainer {
    overflow-x: scroll;
    .contactTextContainer {
      height: 425px;
      width: 325px;
      padding: 25px 10px 0px 10px;

      .input {
        letter-spacing: 0px;
      }

      .portrait {
        height: 125px;
        width: 125px;
        transform: translateY(-75px) translateX(-20px);
      }
    }
  }
}

@keyframes rotation {
  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
