.adjustOpacity {
  opacity: 0.1;
}

.contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80vh;
  width: 100vw;
  position: relative;
  margin-top: 30px;
}

.contactContainer .contactMe {
  font-family: "Alta";
  letter-spacing: 2px;
  font-size: 2rem;
}

.contactContainer .submissionContainer {
  position: absolute;
  left: 50%;
  top: 30%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: auto;
  width: auto;
  padding: 15px;
  background-color: white;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #ece8e4;
}

.contactContainer .submissionContainer .checkmark {
  height: 35px;
  width: 35px;
}

.contactContainer .submissionContainer .submitted {
  font-family: "Alta";
  font-size: 1.2em;
  letter-spacing: 2px;
}

.contactContainer .submissionContainer .submittedButton {
  background: none;
  border: none;
  margin-top: 15px;
  font-size: 1.2em;
  font-family: "Alta";
  letter-spacing: 2px;
}

.contactContainer .submissionContainer .submittedButton:hover {
  cursor: pointer;
}

.contactContainer .logoContainer {
  background-color: #ece8e4;
  position: absolute;
  left: 50%;
  top: 30%;
  -webkit-transform: translate(-70px, -45px);
          transform: translate(-70px, -45px);
}

.contactContainer .logoContainer .camera {
  -webkit-animation: rotation 1s infinite linear;
          animation: rotation 1s infinite linear;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  height: 200px;
  width: 200px;
  position: absolute;
  top: -55px;
  left: -45px;
}

.contactContainer .logoContainer .text {
  position: absolute;
  top: 33px;
  left: 50px;
  width: auto;
  z-index: 2;
}

.contactContainer .logoContainer .magClark {
  font-family: "Dream Avenue";
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1.1em;
  padding: 0;
  margin: 0;
  letter-spacing: 4px;
}

.contactContainer .logoContainer .photography {
  font-family: "Lexend Tera", sans-serif;
  text-transform: uppercase;
  font-size: 0.6em;
  font-weight: 100;
  padding: 0;
  margin: 0;
  letter-spacing: 2px;
}

.contactContainer .contactTextContainer {
  margin-top: 25px;
  height: 450px;
  width: 600px;
  background-color: #ece8e4;
  padding: 25px 65px;
}

.contactContainer .contactTextContainer .input {
  text-align: center;
  display: block;
  width: 100%;
  margin-bottom: 15px;
  height: 30px;
  font-family: "Alta";
  color: #000;
  font-size: 1.2em;
  letter-spacing: 2px;
  background-color: #ece8e4;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.contactContainer .contactTextContainer .input::-webkit-input-placeholder {
  color: #000;
}

.contactContainer .contactTextContainer .input:-ms-input-placeholder {
  color: #000;
}

.contactContainer .contactTextContainer .input::-ms-input-placeholder {
  color: #000;
}

.contactContainer .contactTextContainer .input::placeholder {
  color: #000;
}

.contactContainer .contactTextContainer .input:focus {
  outline: none;
}

.contactContainer .contactTextContainer .messageTextBox {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  text-align: center;
  background-color: #ece8e4;
  height: 100px;
  border: none;
  font-family: "Alta";
  font-size: 1.2em;
  letter-spacing: 2px;
  resize: none;
}

.contactContainer .contactTextContainer .messageTextBox::-webkit-input-placeholder {
  color: #000;
}

.contactContainer .contactTextContainer .messageTextBox:-ms-input-placeholder {
  color: #000;
}

.contactContainer .contactTextContainer .messageTextBox::-ms-input-placeholder {
  color: #000;
}

.contactContainer .contactTextContainer .messageTextBox::placeholder {
  color: #000;
}

.contactContainer .contactTextContainer .messageTextBox:focus {
  outline: none;
}

.contactContainer .contactTextContainer .submit {
  display: block;
  margin: 0 auto 0 auto;
  font-family: "Alta";
  font-size: 1.2em;
  letter-spacing: 2px;
  background-color: #ece8e4;
  border: none;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  background: none;
  color: #000;
}

.contactContainer .contactTextContainer .submit:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media (max-width: 992px) and (min-width: 676px) {
  .contactContainer .contactTextContainer {
    height: 375px;
    width: 525px;
    padding-bottom: 45px;
  }
}

@media (max-width: 676px) and (min-width: 500px) {
  .contactContainer .contactTextContainer {
    height: 425px;
    width: 450px;
    padding: 25px 10px 0px 10px;
  }
  .contactContainer .contactTextContainer .input {
    letter-spacing: 1px;
  }
}

@media (max-width: 500px) {
  .contactContainer .contactTextContainer {
    height: 425px;
    width: 325px;
    padding: 25px 10px 0px 10px;
  }
  .contactContainer .contactTextContainer .input {
    letter-spacing: 0px;
  }
}

@-webkit-keyframes rotation {
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotation {
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
/*# sourceMappingURL=Contact.css.map */