/* contactHeader styles */
.contactHeaderContainer {
  height: 20vh;
  width: 100vw;
  background-color: #c2b19c;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contactHeaderContainer .logoContainer {
  background-color: #c2b19c;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contactHeaderContainer .logoContainer .camera {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  height: 200px;
  width: 200px;
  position: absolute;
  top: -55px;
  left: -45px;
}

.contactHeaderContainer .logoContainer .text {
  position: absolute;
  top: 33px;
  left: 50px;
  width: auto;
  z-index: 2;
}

.contactHeaderContainer .logoContainer .magClark {
  font-family: "Dream Avenue";
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1.1em;
  padding: 0;
  margin: 0;
  letter-spacing: 4px;
}

.contactHeaderContainer .logoContainer .photography {
  font-family: "Lexend Tera", sans-serif;
  text-transform: uppercase;
  font-size: 0.6em;
  font-weight: 100;
  padding: 0;
  margin: 0;
  letter-spacing: 2px;
}

.contactHeaderContainer .contact {
  margin-top: 10vh;
  font-family: "Alta";
  letter-spacing: 7px;
  font-size: 2rem;
}

@media (max-width: 992px) {
  .contactHeaderContainer .logoContainer .camera {
    height: 150px;
    width: 150px;
    top: -35px;
    left: -30px;
  }
  .contactHeaderContainer .logoContainer .text {
    top: 28px;
    left: 40px;
  }
  .contactHeaderContainer .logoContainer .magClark {
    font-size: 0.9em;
    letter-spacing: 3px;
  }
  .contactHeaderContainer .logoContainer .photography {
    font-size: 0.5em;
    letter-spacing: 1px;
  }
}

/* contact body styles */
.contactBodyContainer {
  width: 100vw;
  height: 80vh;
  background-color: #c2b19c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contactBodyContainer .contactLink {
  color: inherit;
  text-decoration: none;
}

.contactBodyContainer .instagramContainer {
  text-align: center;
  width: 275px;
  margin-top: 100px;
}

.contactBodyContainer .instagramContainer .instagramHandle {
  font-family: "Alta";
  font-size: 1.8em;
  letter-spacing: 3px;
}

.contactBodyContainer .facebookContainer {
  text-align: center;
  width: 275px;
  margin-top: 100px;
}

.contactBodyContainer .facebookContainer .facebookHandle {
  font-family: "Alta";
  font-size: 1.8em;
  letter-spacing: 3px;
}

.contactBodyContainer .emailContainer {
  text-align: center;
  width: 275px;
  margin-top: 100px;
}

.contactBodyContainer .emailContainer .emailHandle {
  font-family: "Alta";
  font-size: 1.8em;
  letter-spacing: 3px;
}
/*# sourceMappingURL=ContactStyles.css.map */