.homeContainer {
  overflow-y: auto;
  overflow-x: hidden;
}

.headerAndImage {
  background: url(../../images/erinAndDean.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}
