/* header styles */
.headerContainer {
  height: auto;
  width: 100vw;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  .logoContainer {
    display: flex;
    align-items: center;
    height: auto;
    padding-left: 15px;

    .magClark {
      font-family: "Dream Avenue";
      text-transform: uppercase;
      font-weight: 200;
      font-size: 1.1em;
      padding: 0;
      margin: 0;
      letter-spacing: 4px;
      color: #fff;
    }

    .photography {
      font-family: "Lexend Tera", sans-serif;
      text-transform: uppercase;
      font-size: 0.6em;
      font-weight: 100;
      padding: 0;
      margin: 0;
      letter-spacing: 2px;
      color: #fff;
    }
  }

  .title {
    margin-top: 10vh;
    font-family: "Alta";
    letter-spacing: 7px;
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .headerContainer {
    padding: 0;
    .logoContainer {
      display: none;
    }
  }
}
